<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/menu.css">
    <title>{% if title %}{{ title }}{% else %}News{% endif %}</title>
</head>
<body>
    {% include 'menu.html' %}

    <main>
        {% if title %}<h1>{{ title }}:</h1>{% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>